# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the SAP Machine implementations of JREs and JDKs"
  homepage = "https://github.com/paketo-buildpacks/sap-machine"
  id = "paketo-buildpacks/sap-machine"
  keywords = ["java", "jvm", "jre", "jdk"]
  name = "Paketo Buildpack for SapMachine"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/sap-machine/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    default = "true"
    description = "enables Java Native Memory Tracking (NMT)"
    launch = true
    name = "BPL_JAVA_NMT_ENABLED"

  [[metadata.configurations]]
    default = "summary"
    description = "configure level of NMT, summary or detail"
    launch = true
    name = "BPL_JAVA_NMT_LEVEL"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Flight Recording (JFR)"
    launch = true
    name = "BPL_JFR_ENABLED"

  [[metadata.configurations]]
    default = ""
    description = "configure custom Java Flight Recording (JFR) arguments"
    launch = true
    name = "BPL_JFR_ARGS"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.15:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@17.0.15?arch=amd64"
    sha256 = "46c614fddb8cfa2be94dfc0fb8a1b26cd4fd4ae2d0841525d270cedaaa78a7f1"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.15.tar.gz"
    source-sha256 = "1aa3c7f7bee8bbc05129ffce2c8de1282d69ee375124a1d72707038b15879e33"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.15/sapmachine-jdk-17.0.15_linux-x64_bin.tar.gz"
    version = "17.0.15"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:17.0.16:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@17.0.16?arch=amd64"
    sha256 = "5a3d0c2a99b8e6a0ccf8b7a537492e238371ef75bba5ffb5218e44b1037d905c"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.16.tar.gz"
    source-sha256 = "aabbe4bbea8612c5ad54d38b6bfa9fbcee5dfdfb201aab9eeee0f91eedd18680"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.16/sapmachine-jre-17.0.16_linux-x64_bin.tar.gz"
    version = "17.0.16"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.8:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@21.0.8?arch=amd64"
    sha256 = "1438963707aafcf819dd3c7357bddff2d45f78efda1dc377b747ceab8bf75c71"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.8.tar.gz"
    source-sha256 = "6462ca9658f2ee7badc86a1721ad2fa1eb002104ba98f1ffc687daea5fe6aa17"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.8/sapmachine-jdk-21.0.8_linux-x64_bin.tar.gz"
    version = "21.0.8"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:21.0.8:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@21.0.8?arch=amd64"
    sha256 = "c809f5da48fc294e89fcea981f27ca2aa4411d4bb0c8427b0038488c2fe3e53b"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.8.tar.gz"
    source-sha256 = "6462ca9658f2ee7badc86a1721ad2fa1eb002104ba98f1ffc687daea5fe6aa17"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.8/sapmachine-jre-21.0.8_linux-x64_bin.tar.gz"
    version = "21.0.8"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:24.0.2:*:*:*:*:*:*:*"]
    deprecation_date = "2025-09-18T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@24.0.2?arch=amd64"
    sha256 = "f14cec19351280e1f436b368f3400b62df326b25b258d325b837d30ddee42014"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-24.0.2.tar.gz"
    source-sha256 = "b62a7a0118243ec05f4a27783bec58d7389fc41714aec33de5c02580c8c6cd11"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-24.0.2/sapmachine-jdk-24.0.2_linux-x64_bin.tar.gz"
    version = "24.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:24.0.2:*:*:*:*:*:*:*"]
    deprecation_date = "2025-09-18T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@24.0.2?arch=amd64"
    sha256 = "36c8386755cd35bd9671e2c72db08fa060b07783d0a5fa34a27ba08657a7b8dd"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-24.0.2.tar.gz"
    source-sha256 = "b62a7a0118243ec05f4a27783bec58d7389fc41714aec33de5c02580c8c6cd11"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-24.0.2/sapmachine-jre-24.0.2_linux-x64_bin.tar.gz"
    version = "24.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.15:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@17.0.15?arch=arm64"
    sha256 = "77ebb0613d88098b162919e0f2cd170187edbe7752b5f0a3d390c7536208d956"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.15.tar.gz"
    source-sha256 = "1aa3c7f7bee8bbc05129ffce2c8de1282d69ee375124a1d72707038b15879e33"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.15/sapmachine-jdk-17.0.15_linux-aarch64_bin.tar.gz"
    version = "17.0.15"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:17.0.15:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@17.0.15?arch=arm64"
    sha256 = "b99b445fe14ec9cc756459c4abbe4371c72c86a5e071556998d16468b302571d"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.15.tar.gz"
    source-sha256 = "1aa3c7f7bee8bbc05129ffce2c8de1282d69ee375124a1d72707038b15879e33"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.15/sapmachine-jre-17.0.15_linux-aarch64_bin.tar.gz"
    version = "17.0.15"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.8:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@21.0.8?arch=arm64"
    sha256 = "648290b9c63b9018020f71938bf523bc7fe2e8bc82522cbca05e0c6ebf92c831"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.8.tar.gz"
    source-sha256 = "6462ca9658f2ee7badc86a1721ad2fa1eb002104ba98f1ffc687daea5fe6aa17"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.8/sapmachine-jdk-21.0.8_linux-aarch64_bin.tar.gz"
    version = "21.0.8"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:21.0.7:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@21.0.7?arch=arm64"
    sha256 = "aaf11041f305bde9c867a4cb308beb8cf188d5f3803e02cd69962ed308a2cb08"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.7.tar.gz"
    source-sha256 = "41b499be3ba56bb3d2e68d6623740c6eb6f093c69289910280f30e732b07702d"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.7/sapmachine-jre-21.0.7_linux-aarch64_bin.tar.gz"
    version = "21.0.7"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:24.0.1:*:*:*:*:*:*:*"]
    deprecation_date = "2025-09-18T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@24.0.1?arch=arm64"
    sha256 = "3c8f777be1fad2dbbfc6d7e4ea55cfcbb91b3e0cc063e9e96f573b3d0238485d"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-24.0.1.tar.gz"
    source-sha256 = "812302e3e7f0b1977742d16d4744abdd1cbed938244655d51e95618e63c55e56"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-24.0.1/sapmachine-jdk-24.0.1_linux-aarch64_bin.tar.gz"
    version = "24.0.1"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:24.0.1:*:*:*:*:*:*:*"]
    deprecation_date = "2025-09-18T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@24.0.1?arch=arm64"
    sha256 = "6526f9fe05af8b4db8b0d88f6a21dfebce17acbf5d50be7cd47fd1e41810aed9"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-24.0.1.tar.gz"
    source-sha256 = "812302e3e7f0b1977742d16d4744abdd1cbed938244655d51e95618e63c55e56"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-24.0.1/sapmachine-jre-24.0.1_linux-aarch64_bin.tar.gz"
    version = "24.0.1"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
