# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the SAP Machine implementations of JREs and JDKs"
  homepage = "https://github.com/paketo-buildpacks/sap-machine"
  id = "paketo-buildpacks/sap-machine"
  keywords = ["java", "jvm", "jre", "jdk"]
  name = "Paketo Buildpack for SapMachine"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/sap-machine/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    default = "true"
    description = "enables Java Native Memory Tracking (NMT)"
    launch = true
    name = "BPL_JAVA_NMT_ENABLED"

  [[metadata.configurations]]
    default = "summary"
    description = "configure level of NMT, summary or detail"
    launch = true
    name = "BPL_JAVA_NMT_LEVEL"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Flight Recording (JFR)"
    launch = true
    name = "BPL_JFR_ENABLED"

  [[metadata.configurations]]
    default = ""
    description = "configure custom Java Flight Recording (JFR) arguments"
    launch = true
    name = "BPL_JFR_ARGS"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.18:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@17.0.18?arch=amd64"
    sha256 = "1140ab8338fdbe5c99cc9ce9f78a9a730ee343fb92a377c06b8db20427ab834a"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.18.tar.gz"
    source-sha256 = "b43abae4ecf98abc31dce2f346c92e0a37d9e16331ee7e7094885ae2242180dc"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.18/sapmachine-jdk-17.0.18_linux-x64_bin.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:17.0.18:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@17.0.18?arch=amd64"
    sha256 = "a7a5266183ece6d4ed3febb0a474e9985cdb7c185c57899b2ab3dc202180f971"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.18.tar.gz"
    source-sha256 = "b43abae4ecf98abc31dce2f346c92e0a37d9e16331ee7e7094885ae2242180dc"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.18/sapmachine-jre-17.0.18_linux-x64_bin.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.10:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@21.0.10?arch=amd64"
    sha256 = "0099edddac0a17b816d6821a5de2af29ee86d0cb94efb826c19f0221ecf2c3a0"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.10.tar.gz"
    source-sha256 = "cf82da40c891c7358b01c40f4ca0a2529d257a0d6dd79f1c590f263a68558390"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.10/sapmachine-jdk-21.0.10_linux-x64_bin.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:21.0.10:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@21.0.10?arch=amd64"
    sha256 = "6ee8043a21cc27494307cedcee6f76689af7be2a33f89ca60ef89cd7df2ab9bc"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.10.tar.gz"
    source-sha256 = "cf82da40c891c7358b01c40f4ca0a2529d257a0d6dd79f1c590f263a68558390"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.10/sapmachine-jre-21.0.10_linux-x64_bin.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.2:*:*:*:*:*:*:*"]
    deprecation_date = "2030-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@25.0.2?arch=amd64"
    sha256 = "9223c25d6ea6ed26bb9250bc094abc7fce006a692e68cdfeb29ec5817581bb93"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-25.0.2.tar.gz"
    source-sha256 = "57872475ab5bca71d4876fa22fb1a6c724d7406fe254075419a6b01aee7f5cc8"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-25.0.2/sapmachine-jdk-25.0.2_linux-x64_bin.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:25.0.2:*:*:*:*:*:*:*"]
    deprecation_date = "2030-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@25.0.2?arch=amd64"
    sha256 = "1255fbafedfb983e8310321c9af205a825a2fe28b437320d66d8a635c6e4fb60"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-25.0.2.tar.gz"
    source-sha256 = "57872475ab5bca71d4876fa22fb1a6c724d7406fe254075419a6b01aee7f5cc8"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-25.0.2/sapmachine-jre-25.0.2_linux-x64_bin.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.17:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@17.0.17?arch=arm64"
    sha256 = "626f4501bd1ac0029852776524157ef88f85d98210378906d0d4e42ab1b56925"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.17.tar.gz"
    source-sha256 = "21072f3dd8e0b4d1cbf1426674d49e72a92ed86f30b205a922e47cbbfba83031"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.17/sapmachine-jdk-17.0.17_linux-aarch64_bin.tar.gz"
    version = "17.0.17"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:17.0.18:*:*:*:*:*:*:*"]
    deprecation_date = "2026-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@17.0.18?arch=arm64"
    sha256 = "a8f8ee0c10659d027b7b5e2055191e31a2738ac01e20085346ccbaf7e53c1726"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-17.0.18.tar.gz"
    source-sha256 = "b43abae4ecf98abc31dce2f346c92e0a37d9e16331ee7e7094885ae2242180dc"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-17.0.18/sapmachine-jre-17.0.18_linux-aarch64_bin.tar.gz"
    version = "17.0.18"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.10:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@21.0.10?arch=arm64"
    sha256 = "16cbdbccc576c4c83190e88e7b47b9195ffc472dea609a4888043240bcc7ef08"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.10.tar.gz"
    source-sha256 = "cf82da40c891c7358b01c40f4ca0a2529d257a0d6dd79f1c590f263a68558390"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.10/sapmachine-jdk-21.0.10_linux-aarch64_bin.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:21.0.9:*:*:*:*:*:*:*"]
    deprecation_date = "2028-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@21.0.9?arch=arm64"
    sha256 = "51e0f5e2decfd13a7affebd7217c73f38a5665ac2f14b107cbb4f2f00c3fcb1f"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-21.0.9.tar.gz"
    source-sha256 = "e75725626c3d3069e8415a82cec2b72a5fb6be92be358b072fda0beac26088d0"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-21.0.9/sapmachine-jre-21.0.9_linux-aarch64_bin.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.2:*:*:*:*:*:*:*"]
    deprecation_date = "2030-09-30T00:00:00Z"
    id = "jdk"
    name = "SapMachine JDK"
    purl = "pkg:generic/sap-machine-jdk@25.0.2?arch=arm64"
    sha256 = "b68ec3f70abb3f9c540b940224e6843cd5b33ff790a4d836ee742b34ad8615f6"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-25.0.2.tar.gz"
    source-sha256 = "57872475ab5bca71d4876fa22fb1a6c724d7406fe254075419a6b01aee7f5cc8"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-25.0.2/sapmachine-jdk-25.0.2_linux-aarch64_bin.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jre:25.0.2:*:*:*:*:*:*:*"]
    deprecation_date = "2030-09-30T00:00:00Z"
    id = "jre"
    name = "SapMachine JRE"
    purl = "pkg:generic/sap-machine-jre@25.0.2?arch=arm64"
    sha256 = "11b5b8763e3d2dc452148ec581293b342fa1a7132fd8101a786c7b96df1f3cf4"
    source = "https://github.com/SAP/SapMachine/archive/refs/tags/sapmachine-25.0.2.tar.gz"
    source-sha256 = "57872475ab5bca71d4876fa22fb1a6c724d7406fe254075419a6b01aee7f5cc8"
    stacks = ["*"]
    uri = "https://github.com/SAP/SapMachine/releases/download/sapmachine-25.0.2/sapmachine-jre-25.0.2_linux-aarch64_bin.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://openjdk.java.net/legal/gplv2+ce.html"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
